.range-input {
  $self: &;

  position: relative;
  border-radius: 40px;
  height: 12px;
  margin: 10px 16px 18px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -16px;
    display: block;
    width: calc(100% + 32px);
    height: 12px;
    background: #D6D8E7;
    border-radius: 40px;
  }

  &__track {
    cursor: pointer;
    background-color: #8F688E;
    position: absolute;
    top: 0;
    height: 12px;
    transition: all linear 0.1s;
  }

  &__thumb {
    position: relative;
    z-index: 2;
    transition: all linear 0.1s;
    background-color: #F7F7FC;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    border: 2px solid #8F688E;

    &:focus,
    &:active {
      outline: none;
    }
  }

  &--single {
    margin: 10px 16px;

    #{ $self }__track {
      &:after {
        content: "";
        display: block;
        position: absolute;

        left: -16px;
        top: 0;

        width: 16px;
        height: 12px;


        background-color: #8F688E;
        border-radius: 40px 0 0 40px;
      }
    }
  }
}

.range-header {
  margin: 0 0 16px;

  font-family: 'SF UI Text Regular', sans-serif;

  display: flex;
  justify-content: space-between;

  &__label {
    color: #4E4B66;
    flex: 0 0 50%;
  }

  &__value {
    font-size: 18px;
    font-weight: 700;
    color: #14142B;
  }
}

.range-value {
  display: flex;
  justify-content: space-between;

  &__item {
    font-weight: 600;
    color: #8F688E;
    line-height: 2.3;
  }
}
