.amount {
  display: table;
  position: relative;
  line-height: 1;

  &__line {
    background-color: #14142B;

    display: block;
    position: absolute;

    left: 0;
    bottom: 0;

    width: 100%;
    height: 1px;

    transform-origin: 0 0;
  }
}
