.catalog-filter {
  $self: &;

  transform: translateY(-100%);
  transition: transform ease-in 0.3s;
  background-color: #ffffff;
  top: 0;
  left: 0;

  position: fixed;
  z-index: 99;
  overflow: auto;

  width: 100%;
  height: 100%;

  padding: 0 0 75px;

  &--open {
    transform: translateY(0);
    display: block;
  }

  &__header {
    background-color: #FCFCFC;
    &-title {
      font-size: 24px;
      font-weight: 900;
      line-height: 1.35;

      padding: 18px 0;
    }

    &-close {
      cursor: pointer;
    }

    &-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;

    }
  }

  &__grid {
    &-item {
      margin: 0 0 26px;
    }

    &--x2 {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin: 0 -8px;

      #{ $self }__grid-item {
        padding: 0 8px;
        flex: 0 0 50%;
      }
    }
  }

  &__more-params {
    margin: 48px 0;
    text-align: center;
  }

  &__nav {
    margin: 0 0 24px;
    text-align: center;
  }

  &__reset {
    text-align: center;
  }

  .accordion-item {
    padding: 0;

    &__label {
      font-size: 18px;
      font-weight: 600;
      color: #14142B;
      line-height: 1.9;

      svg {
        path {
          stroke: #14142B;
        }
      }
    }
  }
}
