.catalog-filter {
  $self: &;

  transform: translateY(-100%);
  transition: transform ease-in 0.3s;
  background-color: #ffffff;
  top: 0;
  left: 0;

  position: fixed;
  z-index: 100;
  overflow: auto;

  width: 100%;
  height: 100%;

  padding: 0 0 75px;

  &--open {
    transform: translateY(0);
    display: block;
  }

  &__header {
    background-color: #FCFCFC;

    &-title {
      font-size: 24px;
      font-weight: 900;
      line-height: 1.35;

      padding: 18px 0;
    }

    &-close {
      cursor: pointer;
    }

    &-inner {
      display: flex;
      justify-content: space-between;
      align-items: center;

    }
  }

  &__list {
    margin-top: -118px;
    padding-bottom: 180px;

    &-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;

      span {
        background-color: #14142B;
        border-radius: 33px;

        font-size: 12px;
        font-weight: 600;
        color: #FFFFFF;
        margin-right: 18px;
        padding: 0 8px;
      }
    }
  }

  &__additional-list {
    max-height: 0;
    transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
    overflow: hidden;

    &--open {
      max-height: 10000px;
      transition: max-height 1s ease-in-out;
    }
  }

  &__grid {
    &-item {
      margin: 0 0 26px;

      &--single {
        margin: 26px 0;
      }
    }

    &--x2 {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin: 0 -8px;

      #{ $self }__grid-item {
        padding: 0 8px;
        flex: 0 0 50%;
      }
    }
  }

  &__more-params {
    margin: 48px 0;
    text-align: center;
  }

  &__nav {
    margin: 0 0 24px;
    text-align: center;
  }

  &__reset {
    text-align: center;
  }

  &__fixed {
    background-color: #FFFFFF;
    position: sticky;
    z-index: 101;
    width: 100%;
    left: 0;
    top: calc(100% - 58px);
    padding: 0 0 15px;
  }

  .accordion-item {
    padding: 0;

    &__label {
      font-size: 18px;
      font-weight: 600;
      color: #14142B;
      line-height: 1.9;

      svg {
        path {
          stroke: #14142B;
        }
      }
    }
  }
}
