.shop {
  margin: 32px 0;

  &__image {
    overflow: hidden;
    border-radius: 16px;
  }

  &__title {
    margin: 0 0 8px;

    font-size: 20px;
    font-weight: 700;
    color: #14142B;
  }

  &__work-time {
    font-size: 14px;
    font-weight: 500;
    color: #4E4B66;
  }

  &__brands-list {
    &-item {
      margin: 16px 0;

      &-title {
        margin: 0 0 8px;

        font-size: 14px;
        font-weight: 700;
        color: #4E4B66;
      }

      &__description {
        font-size: 14px;
        font-weight: 500;
        color: #4E4B66;
      }

      &:last-child {
        margin: 16px 0 0;
      }
    }
  }

  .accordion-item {
    &__label {
      padding: 16px 0 0;

      &-text {
        font-size: 16px;
      }

      &-icon {
        svg {
          path {
            stroke: #14142B;
          }
        }
      }
    }

    &__content {
      padding: 0;
    }
  }
}
