.articles-page {
  margin: 40px 0 0;

  &__header {
    margin: 0 0 34px;
  }

  &__list {
    &-item {
      margin: 0 0 24px;
    }
  }

  &__nav {
    margin: 80px 0 16px;
    text-align: center;
  }

  &__total {
    margin: 0 0 80px;
    line-height: 2.3;
    letter-spacing: 1px;
    text-align: center;
    color: #8F688E;
  }


  &__five-reasons {
    margin: 0 0 48px;
  }

  &__official-waranty {
    margin: 0 0 48px;
  }

  &__realeted-products {
    margin: 0 0 48px;
  }

  &__experts-help {
    margin: 0 0 48px;
  }
}
