.compare-page {
  margin: 40px 0 0;

  &__empty-list {
    font-size: 20px;
    margin: 40px 0;
  }

  &__list {
    .swiper-slide {
      position: static;
      height: auto;
    }

    &-item {
      position: relative;
      display: flex;
      height: 100%;

      &-close {
        position: absolute;
        background-color: #ffffff;
        box-shadow: 0 10px 20px rgba(156, 156, 156, 0.15);
        border-radius: 16px;
        top: 0;
        right: 0;
        padding: 8px;
        z-index: 4;

        svg {
          path {
            stroke: #BDBDBD;
          }
        }
      }
    }
  }


  &__compare {
    position: relative;
    margin: 40px 0;

    &-values {
      &-item {
        margin-bottom: 16px;

        &-label {
          position: relative;
          opacity: 0;
          width: 320px;
          font-size: 10px;
          line-height: 1.2;
          margin-bottom: 16px;

          &--title {
            background-color: #FEFEFE;
            box-shadow: 0 10px 20px rgba(156, 156, 156, 0.15);

            position: sticky;
            top: 70px;

            font-size: 20px;
            font-weight: 600;
            color: #14142B;

            padding: 8px 0;
            margin-bottom: 24px;
          }
        }

        &-value {
          font-size: 15px;
          font-weight: 600;
          word-break: break-word;
          line-height: 1.2;
        }
      }
    }

    &-titles {
      position: absolute;
      top: 0;
      left: 0;

      width: 100%;

      font-size: 10px;
      line-height: 1.2;
      color: rgba(20, 20, 43, 0.6);

      &-item {
        margin-bottom: 16px;

        &--title {
          position: sticky;
          top: 68px;
          z-index: 98;

          font-size: 20px;
          font-weight: 600;
          color: #14142B;

          span {
            padding: 8px 24px;
            display: block;
            margin: 0 -24px 24px;
          }

          &.is-pinned {
            span {
              background-color: #FEFEFE;
              box-shadow: 0 10px 20px rgba(156, 156, 156, 0.15);
            }
          }
        }
      }
    }
  }

  &__explame-massager {
    margin: 0 0 48px;
  }

  &__five-reasons {
    margin: 0 0 48px;
  }

  &__official-waranty {
    margin: 0 0 48px;
  }

  &__realeted-products {
    margin: 0 0 48px;
  }

  &__experts-help {
    margin: 0 0 48px;
  }
}

.js-sticky-element {
  position: absolute;
  top: -70px;
  height: 1px;
  width: 100%;
}
