.home-page-content {
  &__slider {
    margin: 24px 0 48px;
  }

  &__products {
    margin: 0 0 72px;
  }

  &__five-reasons {
    margin: 0 0 72px;
  }

  &__we-teach-you {
    margin: 0 0 72px;
  }

  &__explame-massager {
    margin: 0 0 72px;
  }

  &__catalog-slider {
    margin: 0 0 72px;

    .slider-product-card {
      background-size: auto;
    }
  }

  &__preview-brands {
    margin: 0 0 72px;
  }

  &__experts-help {
    margin: 0 0 56px;
  }

  &__video-reviews {
    margin: 0 0 56px;
  }
}
