.button {
  font-size: 16px;
  font-weight: 700;
  color: #F7F7FC;
  cursor: pointer;
  letter-spacing: 0.75px;

  background-color: #8F688E;
  box-shadow: 0 10px 30px rgba(143, 104, 142, 0.45);
  border-radius: 70px;
  border: none;

  padding: 19px 71px;

  transition: all ease-in-out 0.2s;

  &--outline {
    font-family: 'Poppins', sans-serif;
    color: #14142B;

    background-color: transparent;
    border: 1px solid #14142B;
    border-radius: 40px;
    box-shadow: none;
  }

  &--xs {
    padding: 11px 30px;

    font-size: 14px;
    font-weight: 600;
  }

  &--in-cart {
    background-image: url("/icons/checkbox.svg");
    background-position: center center;
    background-repeat: no-repeat;
    color: transparent;
  }

  &--is-loading {
    background-image: url("/images/button-preloader.svg");
    background-size: 30px;
    background-position: center center;
    background-repeat: no-repeat;
    color: transparent;
  }
}
