.swiper-container {
  $self: &;

  &--with-pagination {
    padding-bottom: 32px;
  }

  &--visible-hidden-slides {
    overflow: visible;

    .swiper-slide {
      width: 89%
    }
  }
}

.swiper-pagination {
  position: absolute;
  z-index: 2;

  display: flex;
  justify-content: center;

  width: 100%;

  bottom: 0;
  left: 0;
}

.swiper-pagination-bullet {
  margin: 0 3px;

  display: block;

  width: 6px;
  height: 6px;

  background-color: #D3E0A7;
  border-radius: 4px;
  transition: width ease-in-out .3s;

  cursor: pointer;

  &-active {
    width: 32px;
  }
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 50%;
  margin-top: -20px;
  z-index: 4;

  background-color: #ffffff;
  box-shadow: 0 10px 20px rgba(156, 156, 156, 0.15);
  border-radius: 16px;

  background-image: url("/icons/accordion-arrow-black.svg");
  background-position: center center;
  background-repeat: no-repeat;

  width: 40px;
  height: 40px;
}

.swiper-button-prev {
  left: -20px;
  transform: rotate(-180deg);
}

.swiper-button-next {
  right: -20px;
}

