.one-click-form {
  &__input {
    margin: 0 0 24px;
  }

  &__add-to-cart {
    margin: 20px 0 26px;
  }

  &__text {
    margin: 20px 0 0;
    font-size: 10px;
    line-height: 1.2;
    color: #4F4F4F;

    a {
      border-bottom: 1px dashed;
    }
  }
}
