.realeted-products {
  &__title {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.75px;

    margin: 0 0 26px;
  }

  .swiper-slide {
    width: 192px;
  }

  .catalog-product-card {
    &__image,
    &__image-none {
      height: 192px;
      object-fit: contain;
    }
  }
}
